<app-header [inHome]="true" [links]="['UserDashBoard','QuestionDashBoard', 'Chat']"></app-header>
<br />
<br />
<br />
<mat-card class="example-card" style="margin-left: 40vw">
    
    <h1 mat-dialog-title>Question</h1>
    <div mat-dialog-content>
        <form class="example-form">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Title" type="text" required name="topic" [(ngModel)]="topic" >
            </mat-form-field>
            <br />
    
            <mat-form-field appearance="fill">
                <textarea matInput placeholder="Question Body" required name="question" rows="5" [(ngModel)]="question" ></textarea>
            </mat-form-field>
            <br />

            
            <div class="form-outline mb-4">
                <input type="file" id="image" class="form-control" (change)="selectFile($event)" />
            </div>
            <br />
            <br />
            
           


            <button mat-raised-button type="submit" color="accent" (click)="saveQuestion()">Save question</button>
        </form>
    </div>
</mat-card>